.info-card {
  border: 1px solid var(--accent);
  padding: 1rem;

  @media(min-width: 600px) {
    margin: 1rem auto 5rem;
    width: 50%;

  }

  .__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.map {
  max-height: 275px;

  @media(min-width: 600px) {
    max-height: 100%;
  }
}

.section__heading {
  h3 {
    padding: 0 8px;
    color: var(--text-primary);
    margin: 0 0 8px;
    position: relative;
    flex: 0 0 25%;
  }
  span {
    height: 1px;
    width: 90%;
    margin-right: 8px;
    background-color: var(--text-light);
  }
}
