<ng-container *ngIf="stateData$ | async as stateData">
  <section class="district">
    <div class="section__heading" fxLayout="row nowrap" fxLayoutAlign="space-between center">
      <h3>{{stateData.state}}</h3>
      <span></span>
    </div>

    <section>
      <div class="map">
        <app-us-map [selectedState]="stateData.state"></app-us-map>
      </div>
    </section>

    <div class=info-card fxLayout="row no-wrap">
      <div class="__row">
        <label>Total Tests:</label>
        <span>{{ stateData.totalTestResults }}</span>
      </div>

      <div class="__row">
        <label>Deaths:</label>
        <span>{{ stateData.death }}</span>
      </div>

      <div class="__row">
        <label>Active Cases:</label>
        <span>{{ stateData.positive }}</span>
      </div>

      <div class="__row">
        <label>Hospitalized:</label>
        <span>{{ stateData.hospitalized }}</span>
      </div>

      <div class="__row">
        <label>Last Updated:</label>
        <span>{{ stateData.dateModified | date:'short' }}</span>
      </div>
    </div>
  </section>
</ng-container>
